@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Thin.ttf)
}

* {
  font-family: 'Roboto', monospace;
}

body {
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffff;
  background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
}